source https://api.nuget.org/v3/index.json

storage: none
nuget FSharp.Core
nuget FSharpPlus
nuget FSharpx.Collections
nuget FSharpx.Extras
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget KsuidDotNet
nuget Microsoft.Extensions.Primitives